language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION wheel setuptools Cython nose numpy scipy
  - source activate test-environment
  - pip install pyamg
  - python setup.py install

script:
  python setup.py nosetests --verbosity=2

notifications:
  email: false
