image: Visual Studio 2022

environment:
  matrix:
    - PYTHON: "C:\\Python310-x64"
      PYTHON_VERSION: "3.10"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python311-x64"
      PYTHON_VERSION: "3.11"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python312-x64"
      PYTHON_VERSION: "3.12"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python313-x64"
      PYTHON_VERSION: "3.13"
      PYTHON_ARCH: "64"

init:
  - "ECHO Python %PYTHON_VERSION% %PYTHON_ARCH% bit"

install:
  - "%PYTHON%\\python.exe -m pip install --upgrade pip"
  - "%PYTHON%\\python.exe -m pip install pytest matplotlib"
  - "%PYTHON%\\python.exe -m pip install . -v"

build: off

test_script:
  - "cd test"
  - "%PYTHON%\\python.exe -m pytest -v --import-mode=importlib"

after_test:
  # build the wheels
  #- "%PYTHON%\\python.exe -m build --wheel"

artifacts:
  # bdist_wheel puts the built wheel in the dist directory
  #- path: dist\*
